h2{
  text-align: center;
}
.people-list{
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #eee;

  li{
    height: 50px;
    line-height: 50px;
    .name-input{
      width: 300px;
      height: 32px;
    }
  }

  button{
    width: 100px;
    height: 30px;
    float: right;
    margin-top: 40px;
  }
}
