*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 375px;
    height: 88px;
    border: 0px solid black; 
    position: fixed; 
    top: 0;
    display: flex; 
    /* -webkit-box-orient: vertical;  */
    flex-direction: column; 
    align-content: flex-start; 
    flex-shrink: 0; width: 375px; 
    background-color: rgb(132, 93, 50); 
    padding-top: 0px;
    z-index: 77;
}
.headerTop{
    /* width: 375px;
    height: 44px; */
    display: flex;
    position: relative;
    /* justify-content: center; */
    align-items: center;
    z-index: 77;
}
.logo{
    width: 36px;
    height: 36px;
    margin: 12px;
    background-image: url(../img/t1.png);
    background-size: 36px 36px;
    background-repeat: no-repeat;
    /* display: flex; */
    /* z-index: 3; */
}
.search{
    border: 0px solid black; 
    position: relative; 
    display: flex; 
    /* -webkit-box-orient: horizontal;  */
    /* flex-direction: row;  */
    /* align-content: flex-start;  */
    flex: 2; 
    margin-left: 0px; 
    -webkit-box-flex: 1; 
    -webkit-box-align: center; 
    align-items: center; 
    height: 32px; 
    background-color: rgb(240, 240, 240); 
    border-radius: 16px;
}
.search .icon{
    width: 20px;
    height: 20px;
    background-image: url(../img/search.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin:0px 0px 0px 10px;
}
.search input{
    white-space: pre-wrap;
    background: transparent;
    border: none;
    position: relative;
    box-sizing: border-box;
    display: block;
    -webkit-box-orient: vertical;
    flex-direction: column;
    align-content: flex-start;
    /* flex: 1 1 0%; */
    font-size: 14px;
    height: 20px;
    -webkit-box-flex: 1;
    color: rgb(51, 51, 51);
    margin-left: 10px;
    opacity: 0.4;
    outline: none;
}
.user{
    background-image: url(../img/user.png);
    height: 36px;
    width: 36px;
    /* background-color: wheat; */
    margin:0px 7px 0px 7px;
    /* z-index: 99; */
    background-size: contain;
}
.header .headerNav{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    z-index: 66;
}
.header .headerNav>a{
    font-family: monospace;
    text-decoration: none;
    color: rgb(252, 250, 248);
    font-size: 14px;
    /* z-index: 66; */
    
}
.header .headerNav>a.active{
    color: rgb(237, 91, 0);
    border-bottom: 2px solid rgb(237, 91, 0);
}
.header .xhicon{
    width: 20px;
    height: 20px;
    background-image: url(../img/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin:0px 0px 0px 0px;
    position: relative;
    z-index: 66;
}
.xhk{
    width: 100vw;
    /* height: 100vh; */
    background-color: rgb(0, 0, 0, 0.3);
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 10;
    height: 0;
    overflow: hidden;
    transition: .8s;
}
#choose:checked~.xhk{
    height: 100vh;

}
#choose:checked~.xhicon{
    transform: rotate(180deg);
}
.xhkMain{
    position: absolute;
    left: 0;
    top: 44px;

    width: 375px;
    height: 130px;
    background: rgb(132, 93, 50);
    display: flex;
    flex-direction: column;
}
.xhkMain .xhkTop{
    height: 30px;
    width: 375px;
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    color: #E5E5E5;
    padding-left: 11px;
    /* inline-size: 14px; */
    margin-top: 8px;
}
.xhkMain .xhkList{
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    /* justify-content: space-evenly;*/
    align-content: space-evenly; 
    padding-left: 12px;
}
.xhkMain .xhkList a{
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #887878;
    margin: 0 10px 10px 0;
    font-size: 14px;
    text-decoration: none;
    border-radius: 4px;
    color: #E5E5E5;
}
.xhkMain .xhkList a.active{
    background-color: #7e551f;
    border-color: #ff6700;
    color: #ff6700;
}