*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 375px;
    height: 88px;
    /* background: #634832;
    display: flex;
    flex-direction: column;
    z-index: -1; */
    border: 0px solid black; 
    position: relative; 
    display: flex; 
    -webkit-box-orient: vertical; 
    flex-direction: column; 
    align-content: flex-start; 
    flex-shrink: 0; width: 375px; 
    background-color: rgb(132, 93, 50); 
    padding-top: 0px;
}
.headerTop{
    /* width: 375px;
    height: 44px; */
    display: flex;
    position: relative;
    /* justify-content: center; */
    align-items: center;
}
.logo{
    width: 36px;
    height: 36px;
    margin: 12px;
    background-image: url(../img/t1.png);
    background-size: 36px 36px;
    background-repeat: no-repeat;
    /* display: flex; */
    /* z-index: 3; */
}
.search{
    border: 0px solid black; 
    position: relative; 
    display: flex; 
    /* -webkit-box-orient: horizontal;  */
    /* flex-direction: row;  */
    /* align-content: flex-start;  */
    flex: 2; 
    margin-left: 0px; 
    -webkit-box-flex: 1; 
    -webkit-box-align: center; 
    align-items: center; 
    height: 32px; 
    background-color: rgb(240, 240, 240); 
    border-radius: 16px;
}
.search .icon{
    width: 20px;
    height: 20px;
    background-image: url(../img/search.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin:0px 0px 0px 10px;
}
.search input{
    white-space: pre-wrap;
    background: transparent;
    border: none;
    position: relative;
    box-sizing: border-box;
    display: block;
    -webkit-box-orient: vertical;
    flex-direction: column;
    align-content: flex-start;
    /* flex: 1 1 0%; */
    font-size: 14px;
    height: 20px;
    -webkit-box-flex: 1;
    color: rgb(51, 51, 51);
    margin-left: 10px;
    opacity: 0.4;
    outline: none;
}
.user{
    background-image: url(../img/user.png);
    height: 36px;
    width: 36px;
    /* background-color: wheat; */
    margin:0px 7px 0px 7px;
    /* z-index: 99; */
    background-size: contain;
}
.header .headerNav{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}
.header .headerNav a{
    font-family: monospace;
    text-decoration: none;
    color: rgb(252, 250, 248);
    font-size: 14px;
}
.header .headerNav a.active{
    color: rgb(237, 91, 0);
    border: rgb(237, 91, 0);
}
.header .xhicon{
    width: 20px;
    height: 20px;
    background-image: url(../img/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin:0px 0px 0px 0px;
    position: relative;
    
    
}
