<div class="main">
  <div class="header">
      <div class="logo">To Do List</div>
      <input type="text" [(ngModel)]="taskText" (keyup)="addItem($event)" />
      <button (click)="submit()">Submit</button>
  </div>
  <div class="doing todo">
      <h3><span class="title">Doing</span><span class="num" >{{todoLists?.length||0}}</span></h3>
      <div class="list">
          <div class="todoItem" *ngFor="let item of todoLists; let i=index">
              <input type="checkbox" (click)="isChecked($event,item)" >
              <div class="content"  >{{item.taskText}}</div>
              <div class="del" (click)="delete(item)">DEL</div>
          </div>
      </div>
  </div>
  <div class="done todo">
      <h3><span class="title">Done</span><span class="num">{{donelistLen}}</span></h3>
      <div class="list">
          <div class="todoItem" *ngFor="let doneitem of doneLists; let j=index">
              <input type="checkbox" checked="checked" (click)="isChecked($event,doneitem)">
              <div class="content"  >{{doneitem.taskText}}</div>
              <div class="del" (click)="delete(doneitem)">DEL</div>
          </div>
      </div>
  </div>
</div>
