/* 初始化样式 */
*{
    margin: 0;
    padding: 0;
}
.nav{
    width: 100%;
    height: 44px;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* a标签不能设置宽度，但是有了flex就是直接子元素可以设置 */
.nav a, .nav label{
    color: aliceblue;
    text-decoration: none;
    width: 100px;
    text-align: center;
}
.nav .logo{
    height: 44px;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.nav .search{
    height: 44px;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.nav .buy{
    height: 44px;
    background-image: url(../img/bag.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.toggleBtn{
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.toggleBtn .line{
    height: 1px;
    width: 17px;
    background-color: #fff;
    margin: 5.4px;
    display: none;
    transition: all .5s;
    /* 设置旋转点 */
    transform-origin: left center;
    
}
.navpage{
    display: none;
}
/* 小于768px的屏幕 */

@media only screen  and (max-width:768px){
    /* .toggleBtn{
      position: relative;
      z-index: 100;
    } */
    .toggleBtn .line{
        display: block;
        position: relative;
      z-index: 100;
    }
    .nav .text, .nav .search{
        display: none;
    }
    .nav{
        /* 两边靠拢没有间距 */
        justify-content: space-between;

    }
    .nav .toggleBtn {
        /* 排序 */
        order: 1;
    }
    .nav .logo {
        order: 2;
        position: relative;
        z-index: 100;
    }
    .nav .buy {
        order: 3;
    }

    #choose:checked~.toggleBtn .line:nth-child(1){
        transform: rotate(45deg);
        /* 设置旋转点 */
        /* transform-origin: left; */
    }
    #choose:checked~.toggleBtn .line:nth-child(2){
        transform: rotate(-45deg);
        
    }
    /*选中状态，导航页面显示  */
    #choose:checked~.navpage{
        display: flex;
        /* VW: viewport width:100vw == 100%viewport width
            vh: viewport height:100vh == 100%viewport height */
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        background: #000;
        color: aliceblue;
        flex-direction: column;
        padding-top: 54px;

    }
    .searchInput{
        margin: 0 28px 20px;
        display: flex;
        align-items: center ;
        justify-content: flex-start;
        border-radius: 4px;
        height: 36px;
        color: #cccccc;
        background: rgba(49, 48, 48, 0.76);
    }
    .searchInput .icon{
        width: 32px;
        height: 36px;
        background-image: url(../img/search.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .searchInput input{
        flex: 1;
        margin: 0 10px;
        height: 100%;
        background-color: transparent;
        /* 去掉边框 */
        border: none;
        /* 去掉鼠标点击显示的边框 */
        outline: none;
        color: aliceblue;
    }
    hr{
        border-color: #333;
        margin: 10px 10px;
    }
    .navList{
        margin: 0 28px;
        /* padding:  28 0px; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .navList a{
        width: 100%;
        height: 44px;
        color: #fff;
        text-align: left;
        border-bottom: 1px solid #333;
        line-height: 44px;
    }
    .navList a:last-child{
        border-bottom: none;
    }
} 